.fieldsetContainer {
    display: grid;
    justify-items: center;
    row-gap: 1em;
}

.barbers {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    max-width: fit-content;
    justify-self: center;
}

@media (width <=800) {
    .barbers {
        grid-auto-flow: row;
        grid-template-columns: auto;
        row-gap: 1em;
    }
}