.fieldsContainer {
    display: grid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgb(219, 219, 219);
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;

}

.imageContainer {
    position: relative; 
    width: 450px;
    height: 450px;
}

.imageFit{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.imageFitBack{
    width: 100%;
    height: 100%;
    object-fit:contain;
    background-color: #252525;
}

.row {
    box-sizing: content-box;
    display: flex;
    margin-bottom: 2%;
    margin-top: 2%;
}

.subFields{
    align-self: center;
}

.columns{
    padding: 2%;
    gap: 5%;
    display: flex;
}

.columns > div {
    width: 70%;
}
.columns > .imageContainer {
    width: 30%;
}


.row div {
    width: 50%;
    padding: 2%;
}

.buttons {
    display: flex;
    gap: 2em;
    justify-self: end;
    margin-bottom: 1%;
    margin-right: 1%;
}

.buttons button {
    background-color: #1B54FE;
    color: white;
    padding: 0.75em 3em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
}

.buttons .cancelButton {
    background-color: #4e4e4e;
}

.buttons .deleteButton {
    background-color: #b30000;
}


@media (width <=800px) {
    .fieldsContainer {
        min-width: fit-content;
        display: grid;
        margin: 0
    }

    .row {
        display: grid;
        margin: 1%;
        display: flexbox;
    }

    .row div {
        width: 100%;
    }

    .columns{
        display: grid ;
    }

    .columns > .imageContainer {
        width: 100%;
    }
    .columns > div {
        width: 100%;
        margin: 0;
        margin-left:1%;
        display: flexbox;
    }

}