.header {
    grid-area: head;
    top: 0;
    z-index: 10000;
    position: sticky;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: rgb(48, 48, 48);
}

.headerContainer figure {
    max-width: 42px;
    margin: 0;
}

.headerContainer img {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
}

.headerContainer h1 {
    color: white;
    font-size: 1.5rem;
}

.dropdown {
    list-style: none;
    margin: 0;
    max-width: fit-content;
    position: relative;
}

.dropdown>li {
    max-width: fit-content;
}

.dropdown ul {
    position: absolute;
    list-style: none;
    display: none;
    text-align: right;
    right: 10%;
}

.dropdown ul>li {
    background: #1b1b1b;
    min-width: max-content;
    padding: 1em;
    border-radius: 5px;
}

.dropdown li:hover ul {
    display: block;
}

.dropdown a {
    text-decoration: none;
    color: white;
}

.dropdown a:hover {
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

@media (width <=500px) {
    .headerContainer h1 {
        font-size: 1.5rem;
        margin-left: 0.4em;
    }
}