.layoutContainer {
    display: grid;
    grid-template-areas: "head head" "nav main";
    grid-template-rows: auto 1fr;
    height: 100%;
    grid-template-columns: 240px 1fr;

}

.mainLayoutContainer {
    display: grid;
    grid-area: main;
    overflow-y: auto;
    background-color: #f5f5f5;
}