.layout {
    display: grid;
    grid-template-areas: "head head" "nav main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.mainLayout {
    display: grid;
    grid-area: main;
    overflow-y: scroll;
}