.buttons {
    display: flex;
    justify-content: center; 
    align-items: center;      
    gap: 0.5em;
    height: 100%;            
}

.buttons button {
    background-color: #011655;
    color: white;
    padding: 0.25em 0.8em;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}

.buttons button:hover {
    background-color:  #001e77;
}