.formLayout {
    display: grid;
    gap: 2em;
}

.formLayout h2 {
    font-size: 1.25rem;
}

.fieldsContainer {
    display: grid;
    gap: 1em;
    background-color: white;
    padding: 1em 2em;
    border-radius: 12px;
}

.fieldsContainer fieldset {
    border: none;
}

.customerFields {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    column-gap: 5em;
}

.fieldsetContainer {
    display: grid;
    justify-items: center;
    row-gap: 1em;
}

.barbers {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    max-width: fit-content;
    justify-self: center;
}

.barbers BarberCard {
    grid-row: 2;
}

.appointmentFields {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    column-gap: 5em;
    row-gap: 1em;
}

.timeContainer {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 0.3em;
    grid-column: 1/1;
}

.times {
    display: grid;
    max-width: fit-content;
    column-gap: 3em;
    row-gap: 0.7em;
    grid-template-columns: repeat(4, 1fr);
}

.buttons {
    display: flex;
    gap: 2em;
    justify-self: end;
}

.buttons button {
    background-color: #1B54FE;
    color: white;
    padding: 0.75em 3em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
}

.buttons .cancelButton {
    background-color: #4e4e4e;
}

.error {
    font-size: 0.8rem;
    font-weight: normal;
    color: rgb(196, 0, 0);
}

.servicesContainer {
    display: grid;
    gap: 0.3em;
    grid-row: 2;
    grid-column: 2/2;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 0.5em;
}

.fieldsTitle {
    font-weight: bold;
    font-size: 0.9rem;
}

@media (width <=800) {

    .customerFields,
    .appointmentFields,
    .barbers {
        grid-auto-flow: row;
        grid-template-columns: auto;
        row-gap: 1em;
    }

    .timeContainer {
        grid-column: 1;
    }

    .times {
        column-gap: 1em;
        grid-template-columns: repeat(3, auto);
    }

    .servicesContainer {
        grid-column: 1;
        grid-row: auto;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .buttons button {
        padding: 0.75em 1.2em;
    }
}