.table {
    width: 100%;
    border-collapse: collapse;
}

.table>thead {
    background-color: #FCFCFD;
    text-align: left;
    color: #667085;
}

.table tr {
    border-bottom: thin solid #EAECF0;
}

.table tbody td {
    padding: 1em 0.3em 1em;
    font-size: 0.9rem;
}

.buttonsCell {
    width: 50px;
}

.more {
    background-color: #302d2d;
    display: flex;
    padding: 0.5em;
}

.icon {
    width: 1em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(96%) saturate(0%) hue-rotate(47deg) brightness(104%) contrast(107%);
}

@media (width <=580px) {
    .table th {
        font-size: 0.8rem;
    }

    .table tbody td {
        font-size: 0.7rem;
    }

    .hidden {
        display: none;
    }

    .icon {
        width: 0.8em;
    }
}