.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}


.activo {
  background-color: #d9fdd3; 
  color: #0f5132;
}

.activo .dot {
  background-color: #00a152; 
}

.inactivo {
  background-color: #fdd3d3; 
  color: #661f1f;
}

.inactivo .dot {
  background-color: #c62828; 
}